<?xml version="1.0"?>
{% autoescape %}
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:webfeeds="http://webfeeds.org/rss/1.0">

<title>{{ title }}</title>
<subtitle>{{ desc }}</subtitle>
<link href="https://xkcd.tw"></link>
<link href="https://xkcd.tw/feed" rel="self"></link>
<link href="https://pubsubhubbub.appspot.com/" rel="hub"></link>
<id>https://xkcd.tw/feed</id>
<updated>{{ pub_date }}</updated>
<author><name>CQD</name></author>
<webfeeds:analytics id="UA-368263-19" engine="GoogleAnalytics"/>

{% for item in items %}
<entry>
<title>{{ item.title }}</title>
<summary type="html">
<img src="https://xkcd.tw{{ item.img_url }}" alt="{{ item.caption }}" height="{{ item.height }}" title="{{ item.caption }}" />
</summary>
<link href="https://xkcd.tw/{{ item.id }}"></link>
<id>https://xkcd.tw/{{ item.id }}</id>
<updated>{{ item.translate_time }}</updated>
<author><name>CQD</name></author>
</entry>
{% endfor %}

{% endautoescape %}
</feed>