{% extends "main.twig" %}

{% if strip.img_url %}
{% set img_url = strip.img_url %}
{% else %}
{% set img_url = "/strip/" ~ strip.id ~ ".jpg" %}
{% endif %}

{% block content %}
<h1>[{{strip.id}}] {{strip.title}}</h1>
{% if strip.prev_id %}<div style="float:left;margin:-1em 0 0 3em;"><a href="/{{strip.prev_id}}">⇐前一個翻譯</a></div>{% endif%}
{% if strip.next_id %}<div style="float:right;margin:-1em 3em 0 0;"><a href="/{{strip.next_id}}">下一個翻譯⇒</a></div>{% endif%}
<div style="clear:both; height:1em;"></div>
<img src="{{img_url}}" {% if strip.style %}style="{{strip.style}}"{% endif %} alt="{{strip.title}}" title="{{strip.caption}}">

{% if strip.comment %}<p class="comment">{{strip.comment}}</p>{% endif %}

<p style='margin-top:3em'><a href="http://xkcd.com/{{strip.id}}">原文連結</a></p>
{% endblock %}