{% extends "main.twig" %}

{% block content %}
<h1>[{{strip.id}}] {{strip.title}}</h1>
{% if strip.prev_id %}<div class="prevLink"><a href="/{{strip.prev_id}}">⇐前一個翻譯</a></div>{% endif%}
{% if strip.next_id %}<div class="nextLink"><a href="/{{strip.next_id}}">下一個翻譯⇒</a></div>{% endif%}
<div style="clear:both; height:1em;"></div>

{% if strip.link %}<a href="{{strip.link}}">{% endif %}
<img src="{{strip.img_url}}" style="max-height:{{strip.height}}px" alt="{{strip.title}}" title="{{strip.caption}}">
{% if strip.link %}</a>{% endif %}

{% if strip.comment %}<p class="comment">{{strip.comment}}</p>{% endif %}

<p style='margin-top:3em'><a href="https://xkcd.com/{{strip.id}}">原文連結</a></p>
{% endblock %}